.box {
    width: 200px;
    height: 110px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;

}

.box2 {
    width: 270px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;

}

.box3 {
    width: 420px;
    height: 100px;
    background-color: rgb(175, 51, 2);
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;

}

.box4 {
    width: 500px;
    height: 950px;
    background-color: rgb(15, 139, 173);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;

}

.box5 {
    width: 1870px;
    height: 80px;
    background-color: rgb(6, 116, 149);
    border: 2px solid rgb(4, 10, 11);
    padding: 10px;
    margin: 10px;

}